{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.nevua.markets",
      "description": "Production"
    }
  ],
  "info": {
    "title": "Nevua Markets API",
    "version": "0.0.1",
    "license": {
      "name": "ISC",
      "url": "https://opensource.org/licenses/ISC"
    }
  },
  "components": {
    "schemas": {
      "SearchJSONResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/MatchingEvent"
        }
      },
      "MatchingEvent": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The event ID",
            "type": "string"
          },
          "title": {
            "description": "The event title",
            "type": "string"
          },
          "slug": {
            "description": "The event slug",
            "type": "string"
          },
          "image": {
            "description": "The event image",
            "type": "string"
          },
          "type": {
            "description": "The event type",
            "enum": [
              "event",
              "market"
            ],
            "type": "string"
          },
          "markets": {
            "description": "The markets associated with the event",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "The market ID",
                  "type": "string"
                },
                "image": {
                  "description": "The market image",
                  "type": "string"
                },
                "question": {
                  "description": "The market question",
                  "type": "string"
                },
                "outcomes": {
                  "description": "Outcomes and outcome prices",
                  "type": "string"
                },
                "outcomePrices": {
                  "type": "string"
                },
                "nevuaSVGLink": {
                  "description": "SVG link",
                  "type": "string"
                }
              },
              "additionalProperties": false,
              "required": [
                "id",
                "image",
                "nevuaSVGLink",
                "outcomePrices",
                "outcomes",
                "question"
              ]
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "id",
          "image",
          "markets",
          "slug",
          "title",
          "type"
        ]
      },
      "SearchV2JSONRequest": {
        "$ref": "#/components/schemas/SearchV2JSONRequest"
      },
      "SearchKeyphrase": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/SearchKeyphraseType"
          }
        },
        "additionalProperties": false,
        "required": [
          "text",
          "type"
        ]
      },
      "SearchKeyphraseType": {
        "type": "string",
        "enum": [
          "include",
          "exclude"
        ]
      },
      "SearchTag": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/SearchTagType"
          }
        },
        "additionalProperties": false,
        "required": [
          "text",
          "type"
        ]
      },
      "SearchTagType": {
        "type": "string",
        "enum": [
          "include",
          "exclude"
        ]
      },
      "SearchMatchOperator": {
        "type": "string",
        "enum": [
          "AND",
          "OR"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchEvents",
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Search API",
        "description": "Search API for events\n**Authentication is optional.**\n",
        "tags": [
          "Search API"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Search query keywords in **event titles**, **market questions** and **tag labels**.\n"
          },
          {
            "in": "query",
            "name": "match",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "all"
              ],
              "default": "any"
            },
            "required": false,
            "description": "Use \n  - **`match=any`** to return events that match **any** of the search keywords.\n  - **`match=all`** to return events that match **all** of the search keywords.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchJSONResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search": {
      "post": {
        "operationId": "searchEventsV2",
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Search API v2",
        "description": "Search API v2 for events using structured keyphrases\n**Authentication is optional.**\n",
        "tags": [
          "Search API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchV2JSONRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchJSONResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}