{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.nevua.markets",
      "description": "Production"
    }
  ],
  "info": {
    "title": "Nevua Markets API",
    "version": "0.0.1",
    "license": {
      "name": "ISC",
      "url": "https://opensource.org/licenses/ISC"
    }
  },
  "components": {
    "schemas": {
      "BulkSubscriptionsJSONRequest": {
        "type": "object",
        "properties": {
          "subscriptionIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "subscriptionIds"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "CreateSubscriptionJSONRequest": {
        "type": "object",
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/Subscription"
          }
        },
        "additionalProperties": false,
        "required": [
          "subscription"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "watchlistId": {
            "type": "string"
          },
          "watchlistName": {
            "type": "string"
          },
          "subscriptionScope": {
            "$ref": "#/components/schemas/SubscriptionScope"
          },
          "subscriptionTypeConfig": {
            "$ref": "#/components/schemas/SubscriptionTypeConfig"
          },
          "events": {
            "$ref": "#/components/schemas/SubscriptionEventMap"
          },
          "createdAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": [
              "null",
              "string"
            ]
          },
          "updatedAt": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/SubscriptionStatus"
          },
          "triggerType": {
            "$ref": "#/components/schemas/TriggerType"
          },
          "triggerCount": {
            "type": "number"
          },
          "lastTriggeredAt": {
            "type": [
              "null",
              "string"
            ]
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationChannel"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "channels",
          "createdAt",
          "events",
          "expiresAt",
          "status",
          "subscriptionScope",
          "subscriptionTypeConfig",
          "triggerType",
          "watchlistId",
          "watchlistName"
        ]
      },
      "SubscriptionScope": {
        "type": "string",
        "enum": [
          "Watchlist",
          "Event",
          "Market"
        ]
      },
      "SubscriptionTypeConfig": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Big Spike Z-score"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<SpikeParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Big Drop"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<DropParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Crossing"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<CrossAnyParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Crossing Up"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<CrossUpParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Crossing Down"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<CrossDownParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Greater Than"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<GreaterThanParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Less Than"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<LessThanParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Percentage Move"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<MovePctAnyParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Percentage Move Up"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<MovePctUpParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Percentage Move Down"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<MovePctDownParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Volatility Surge"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<VolatilitySurgeParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Breakout"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<BreakoutParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Momentum Shift"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<MomentumShiftParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Gap"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<GapParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Whale Activity"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<WhaleActivityParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "All-Time Record"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<EmptyParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "Trend Reversal"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<TrendReversalParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "New or closed events and markets"
              },
              "config": {
                "$ref": "#/components/schemas/SubscriptionConfig<EmptyParams>"
              }
            },
            "additionalProperties": false,
            "required": [
              "config",
              "type"
            ]
          }
        ]
      },
      "SubscriptionConfig<SpikeParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/SpikeParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "SpikeParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<DropParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/DropParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "DropParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<CrossAnyParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/CrossAnyParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "CrossAnyParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<CrossUpParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/CrossUpParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "CrossUpParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<CrossDownParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/CrossDownParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "CrossDownParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<GreaterThanParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/GreaterThanParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "GreaterThanParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<LessThanParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/LessThanParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "LessThanParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<MovePctAnyParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/MovePctAnyParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "MovePctAnyParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<MovePctUpParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/MovePctUpParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "MovePctUpParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<MovePctDownParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/MovePctDownParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "MovePctDownParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<VolatilitySurgeParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/VolatilitySurgeParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "VolatilitySurgeParams": {
        "type": "object",
        "properties": {
          "deviationThreshold": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "deviationThreshold"
        ]
      },
      "SubscriptionConfig<BreakoutParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/BreakoutParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "BreakoutParams": {
        "type": "object",
        "properties": {
          "lookbackHours": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "lookbackHours"
        ]
      },
      "SubscriptionConfig<MomentumShiftParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/MomentumShiftParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "MomentumShiftParams": {
        "type": "object",
        "properties": {
          "shortEMA": {
            "type": "number"
          },
          "longEMA": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "longEMA",
          "shortEMA"
        ]
      },
      "SubscriptionConfig<GapParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/GapParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "GapParams": {
        "type": "object",
        "properties": {
          "threshold_percent": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "threshold_percent"
        ]
      },
      "SubscriptionConfig<WhaleActivityParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/WhaleActivityParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "WhaleActivityParams": {
        "type": "object",
        "properties": {
          "volumeMultiplier": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "volumeMultiplier"
        ]
      },
      "SubscriptionConfig<EmptyParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/EmptyParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "EmptyParams": {
        "type": "object",
        "additionalProperties": false
      },
      "SubscriptionConfig<TrendReversalParams>": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/TrendReversalParams"
          }
        },
        "additionalProperties": false,
        "required": [
          "params"
        ]
      },
      "TrendReversalParams": {
        "type": "object",
        "properties": {
          "lookbackHours": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "lookbackHours"
        ]
      },
      "SubscriptionEventMap": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "markets": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "additionalProperties": false,
          "required": [
            "markets"
          ]
        }
      },
      "SubscriptionStatus": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "reason": {
            "$ref": "#/components/schemas/SubscriptionStatusReason"
          }
        },
        "additionalProperties": false,
        "required": [
          "enabled",
          "reason"
        ]
      },
      "SubscriptionStatusReason": {
        "type": "string",
        "enum": [
          "Created",
          "Updated",
          "Expired",
          "Triggered",
          "Paused by user",
          "Paused (no markets)",
          "Paused (no channels)",
          "Restarted by user",
          "Event closed",
          "Market closed"
        ]
      },
      "TriggerType": {
        "type": "string",
        "enum": [
          "one_time",
          "recurring"
        ]
      },
      "NotificationChannel": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/NotificationChannelType"
          },
          "settings": {
            "type": "object",
            "properties": {
              "telegramChatId": {
                "type": "number"
              },
              "webhookUrl": {
                "type": "string"
              },
              "discordWebhookUrl": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "status": {
            "enum": [
              "FAILED",
              "PENDING",
              "READ",
              "SENT"
            ],
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "type"
        ]
      },
      "NotificationChannelType": {
        "type": "string",
        "enum": [
          "In App",
          "Mobile App",
          "Email",
          "Webhook",
          "Discord",
          "Telegram"
        ]
      },
      "CreateSubscriptionJSONResponse": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "subscriptionId"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "CreateWatchListJSONRequest": {
        "type": "object",
        "properties": {
          "watchList": {
            "$ref": "#/components/schemas/WatchList"
          }
        },
        "additionalProperties": false,
        "required": [
          "watchList"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "WatchList": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "queries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WatchlistQuery"
            }
          },
          "automaticallyAddMatchingEvents": {
            "type": "boolean"
          },
          "events": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "autoFetch": {
                  "type": "boolean"
                },
                "markets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "additionalProperties": false,
              "required": [
                "autoFetch",
                "markets"
              ]
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "tableSettings": {
            "type": "object",
            "properties": {
              "showClosedItems": {
                "type": "boolean"
              },
              "expandMultiMarketEventsTable": {
                "type": "boolean"
              },
              "expandMultiMarketEventsTiles": {
                "type": "boolean"
              }
            },
            "additionalProperties": false,
            "required": [
              "expandMultiMarketEventsTable",
              "expandMultiMarketEventsTiles",
              "showClosedItems"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "createdAt",
          "events",
          "name"
        ]
      },
      "WatchlistQuery": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "matchAnyTerm": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "createdAt",
          "matchAnyTerm",
          "text"
        ]
      },
      "CreateWatchListJSONResponse": {
        "type": "object",
        "properties": {
          "watchListId": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "watchListId"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "DeleteNotificationsJSONRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "const": "delete"
          },
          "notificationIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "action",
          "notificationIds"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "DeleteNotificationsJSONResponse": {
        "type": "object",
        "properties": {
          "notificationsDeleted": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "notificationsDeleted"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "DeleteWatchListJSONRequest": {
        "type": "object",
        "properties": {
          "watchListId": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "watchListId"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "DeleteWatchListJSONResponse": {
        "type": "object",
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "GetNotificationsJSONRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "number"
          },
          "before": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "GetNotificationsJSONResponse": {
        "type": "object",
        "properties": {
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationResponse"
            }
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "hasMore",
          "nextCursor",
          "notifications"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "NotificationResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/PriceNotificationResponse"
          },
          {
            "$ref": "#/components/schemas/EventStatusNotificationResponse"
          }
        ]
      },
      "PriceNotificationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "watchlistId": {
            "type": "string"
          },
          "watchlistName": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "eventTitle": {
            "type": "string"
          },
          "marketId": {
            "type": "string"
          },
          "marketQuestion": {
            "type": "string"
          },
          "polymarketSlug": {
            "type": "string"
          },
          "clobTokenId": {
            "type": "string"
          },
          "subscriptionScope": {
            "$ref": "#/components/schemas/SubscriptionScope"
          },
          "subscriptionType": {
            "$ref": "#/components/schemas/SubscriptionType"
          },
          "triggerType": {
            "$ref": "#/components/schemas/TriggerType"
          },
          "detectedValue": {
            "type": "number"
          },
          "sentFromPolymarketAtMs": {
            "type": "number"
          },
          "detectedAt": {
            "type": "string",
            "format": "date-time"
          },
          "detectedAtMs": {
            "type": "number"
          },
          "sentToUserAt": {
            "type": "string",
            "format": "date-time"
          },
          "readFromUserAt": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationChannel"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "channels",
          "clobTokenId",
          "detectedAt",
          "detectedAtMs",
          "detectedValue",
          "eventId",
          "eventTitle",
          "id",
          "marketId",
          "marketQuestion",
          "polymarketSlug",
          "sentFromPolymarketAtMs",
          "subscriptionId",
          "subscriptionScope",
          "subscriptionType",
          "triggerType",
          "userId",
          "watchlistId",
          "watchlistName"
        ]
      },
      "NotificationType": {
        "enum": [
          "event_status_notification",
          "price_notification"
        ],
        "type": "string"
      },
      "EventStatusNotificationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "watchlistId": {
            "type": "string"
          },
          "watchlistName": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "eventTitle": {
            "type": "string"
          },
          "marketId": {
            "type": "string"
          },
          "marketQuestion": {
            "type": "string"
          },
          "polymarketSlug": {
            "type": "string"
          },
          "eventStatusScope": {
            "$ref": "#/components/schemas/EventStatusScope"
          },
          "triggerType": {
            "$ref": "#/components/schemas/EventStatusTriggerType"
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationChannel"
            }
          },
          "detectedAt": {
            "type": "string"
          },
          "detectedAtMs": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "channels",
          "detectedAt",
          "detectedAtMs",
          "eventId",
          "eventStatusScope",
          "eventTitle",
          "id",
          "polymarketSlug",
          "subscriptionId",
          "triggerType",
          "userId",
          "watchlistId",
          "watchlistName"
        ]
      },
      "EventStatusTriggerType": {
        "type": "string",
        "enum": [
          "Open",
          "Closed"
        ]
      },
      "EventStatusScope": {
        "type": "string",
        "enum": [
          "Market",
          "Event"
        ]
      },
      "GetSubscriptionsJSONRequest": {
        "type": "object",
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "GetSubscriptionsJSONResponse": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriptionResponse"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "subscriptions"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "SubscriptionResponse": {
        "type": "object",
        "properties": {
          "watchlistId": {
            "type": "string"
          },
          "watchlistName": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "eventTitle": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "marketQuestion": {
            "type": "string"
          },
          "marketId": {
            "type": "string"
          },
          "subscriptionScope": {
            "$ref": "#/components/schemas/SubscriptionScope"
          },
          "subscriptionTypeConfig": {
            "$ref": "#/components/schemas/SubscriptionTypeConfig"
          },
          "createdAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": [
              "null",
              "string"
            ]
          },
          "updatedAt": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/SubscriptionStatus"
          },
          "triggerType": {
            "$ref": "#/components/schemas/TriggerType"
          },
          "triggerCount": {
            "type": "number"
          },
          "lastTriggeredAt": {
            "type": [
              "null",
              "string"
            ]
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationChannel"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "channels",
          "createdAt",
          "expiresAt",
          "status",
          "subscriptionId",
          "subscriptionScope",
          "subscriptionTypeConfig",
          "triggerType",
          "watchlistId",
          "watchlistName"
        ]
      },
      "GetWatchListJSONRequest": {
        "type": "object",
        "properties": {
          "watchListIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "watchListIds"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "GetWatchListJSONResponse": {
        "type": "object",
        "properties": {
          "watchLists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WatchListWithId"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "watchLists"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "WatchListWithId": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "queries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WatchlistQuery"
            }
          },
          "automaticallyAddMatchingEvents": {
            "type": "boolean"
          },
          "events": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "autoFetch": {
                  "type": "boolean"
                },
                "markets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "additionalProperties": false,
              "required": [
                "autoFetch",
                "markets"
              ]
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "tableSettings": {
            "type": "object",
            "properties": {
              "showClosedItems": {
                "type": "boolean"
              },
              "expandMultiMarketEventsTable": {
                "type": "boolean"
              },
              "expandMultiMarketEventsTiles": {
                "type": "boolean"
              }
            },
            "additionalProperties": false,
            "required": [
              "expandMultiMarketEventsTable",
              "expandMultiMarketEventsTiles",
              "showClosedItems"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "createdAt",
          "events",
          "id",
          "name"
        ]
      },
      "NotificationJSONResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventStatusNotificationResponse"
            }
          },
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceNotificationResponse"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "events",
          "prices"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "Record<string,any>": {
        "type": "object",
        "additionalProperties": false
      },
      "SubscriptionType": {
        "description": "Subscription Types and Detection Logic\n\nSpike 🚀\n- Definition: Sharp increase in probability\n- Window: 1-3 hours\n- Logic: current price ≥ 1.2x previous hour price (20%+ jump)\n\nDrop 📉\n- Definition: Sharp decrease in probability\n- Window: 1-3 hours\n- Logic: current price ≤ 0.8x previous hour price (20%+ drop)\n\nCross ⚡\n- Definition: Market crosses a key threshold (e.g., 50%)\n- Window: 1-6 hours\n- Logic: price moves from below to above 50% (or vice versa)\n\nCreated 🆕\n- Definition: New market added\n- Window: Hourly\n- Logic: New entry appears in market data\n\nClosed 🔒\n- Definition: Market resolved or betting stops\n- Window: Hourly\n- Logic: Market disappears or status changes to \"closed\"\n\nVolatility Surge 🌊\n- Definition: Unusual fluctuations in price\n- Window: 3-6 hours\n- Logic: std deviation of past 3 hours > 2x avg volatility\n\nBreakout 🚀📈\n- Definition: Price moves beyond support/resistance\n- Window: 6-12 hours\n- Logic: current price > max of last 6 hours (or min for breakdown)\n\nMomentum Shift 🔄\n- Definition: Trend reversal in price movement\n- Window: 6-12 hours\n- Logic: 3-hour EMA crosses 6-hour EMA (bullish/bearish signal)\n\nGap Up/Down 📊\n- Definition: Price jumps up/down without gradual movement\n- Window: 1-3 hours\n- Logic: current price - last price > 10% with no intermediate prices\n\nWhale Activity 🐋\n- Definition: Large volume trades cause sudden moves\n- Window: 1-3 hours\n- Logic: volume spikes 3x normal (if volume data is available)\n\nAll-Time High/Low 🔥\n- Definition: Market reaches new max/min\n- Window: Daily-Historical\n- Logic: current price is highest/lowest in historical data\n\nTrend Reversal 🔄📊\n- Definition: Long-term direction changes\n- Window: 6-12 hours\n- Logic: price consistently moves opposite to recent trend",
        "type": "string",
        "enum": [
          "Big Spike",
          "Big Drop",
          "Crossing",
          "Crossing Up",
          "Crossing Down",
          "Greater Than",
          "Less Than",
          "Percentage Move",
          "Percentage Move Up",
          "Percentage Move Down",
          "Created",
          "Closed",
          "Volatility Surge",
          "Breakout",
          "Momentum Shift",
          "Gap",
          "Whale Activity",
          "All-Time Record",
          "Trend Reversal",
          "New or closed events and markets"
        ]
      },
      "SearchJSONResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/MatchingEvent"
        },
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "MatchingEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "enum": [
              "event",
              "market"
            ],
            "type": "string"
          },
          "markets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "question": {
                  "type": "string"
                }
              },
              "additionalProperties": false,
              "required": [
                "id",
                "question"
              ]
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "id",
          "markets",
          "title",
          "type"
        ]
      },
      "TokenPricesHistoryJSONRequest": {
        "type": "object",
        "properties": {
          "events": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "markets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "additionalProperties": false,
              "required": [
                "markets"
              ]
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "events"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "TokenPricesHistoryJSONResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/EventWithMarketTimeseries"
        },
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "EventWithMarketTimeseries": {
        "type": "object",
        "properties": {
          "markets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketSchemaTimeseriesResponse"
            }
          },
          "nevuaMarketSource": {
            "type": "string"
          },
          "nevuaLastUpdatedTimestamp": {
            "type": "number"
          },
          "nevuaMultipleMarkets": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          },
          "automaticallyActive": {
            "type": "boolean"
          },
          "closed": {
            "type": "boolean"
          },
          "closedTime": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "commentCount": {
            "type": "number"
          },
          "commentsEnabled": {
            "type": "boolean"
          },
          "competitive": {
            "type": "number"
          },
          "countryName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "creationDate": {
            "type": "string"
          },
          "cyom": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "elapsed": {
            "type": "string"
          },
          "electionType": {
            "type": "string"
          },
          "enableNegRisk": {
            "type": "boolean"
          },
          "enableOrderBook": {
            "type": "boolean"
          },
          "endDate": {
            "type": "string"
          },
          "ended": {
            "type": "boolean"
          },
          "eventCreators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Partial<EventCreator>"
            }
          },
          "eventDate": {
            "type": "string"
          },
          "eventWeek": {
            "type": "number"
          },
          "featured": {
            "type": "boolean"
          },
          "featuredImage": {
            "type": "string"
          },
          "gmpChartMode": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "liquidit": {
            "type": "number"
          },
          "liquidityAmm": {
            "type": "number"
          },
          "liquidityClob": {
            "type": "number"
          },
          "live": {
            "type": "boolean"
          },
          "negRisk": {
            "type": "boolean"
          },
          "seriesSlug": {
            "type": "string"
          },
          "showAllOutcomes": {
            "type": "boolean"
          },
          "showMarketImages": {
            "type": "boolean"
          },
          "slug": {
            "type": "string"
          },
          "sortBy": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "startTime": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Partial<Tag>"
            }
          },
          "ticker": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          },
          "volume": {
            "type": "number"
          },
          "volume24hr": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "markets",
          "nevuaLastUpdatedTimestamp",
          "nevuaMarketSource",
          "nevuaMultipleMarkets"
        ]
      },
      "MarketSchemaTimeseriesResponse": {
        "type": "object",
        "properties": {
          "nevuaTimeseriesHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeseriesPoint"
            }
          },
          "nevuaSVGHistory": {
            "type": "string"
          },
          "nevuaSVGLink": {
            "type": "string"
          },
          "acceptingOrders": {
            "type": "boolean"
          },
          "acceptingOrdersTimestamp": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "approved": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          },
          "automaticallyActive": {
            "type": "boolean"
          },
          "automaticallyResolved": {
            "type": "boolean"
          },
          "bestAsk": {
            "type": "number"
          },
          "bestBid": {
            "type": "number"
          },
          "clearBookOnStart": {
            "type": "boolean"
          },
          "clobRewards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Partial<ClobReward>"
            }
          },
          "clobTokenIds": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "closedTime": {
            "type": "string"
          },
          "commentsEnabled": {
            "type": "boolean"
          },
          "competitive": {
            "type": "number"
          },
          "conditionId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "customLiveness": {
            "type": "number"
          },
          "cyom": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "enableOrderBook": {
            "type": "boolean"
          },
          "endDate": {
            "type": "string"
          },
          "endDateIso": {
            "type": "string"
          },
          "featured": {
            "type": "boolean"
          },
          "fee": {
            "type": "string"
          },
          "fpmmLive": {
            "type": "boolean"
          },
          "funded": {
            "type": "boolean"
          },
          "gameStartTime": {
            "type": "string"
          },
          "groupItemThreshold": {
            "type": "string"
          },
          "groupItemTitle": {
            "type": "string"
          },
          "hasReviewedDates": {
            "type": "boolean"
          },
          "icon": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "lastTradePrice": {
            "type": "number"
          },
          "negRiskRequestID": {
            "type": "string"
          },
          "new": {
            "type": "boolean"
          },
          "notificationsEnabled": {
            "type": "boolean"
          },
          "oneDayPriceChange": {
            "type": "number"
          },
          "orderMinSize": {
            "type": "number"
          },
          "orderPriceMinTickSize": {
            "type": "number"
          },
          "outcomePrices": {
            "type": "string"
          },
          "outcomes": {
            "type": "string"
          },
          "pagerDutyNotificationEnabled": {
            "type": "boolean"
          },
          "question": {
            "type": "string"
          },
          "questionID": {
            "type": "string"
          },
          "ready": {
            "type": "boolean"
          },
          "readyForCron": {
            "type": "boolean"
          },
          "resolutionSource": {
            "type": "string"
          },
          "resolvedBy": {
            "type": "string"
          },
          "restricted": {
            "type": "boolean"
          },
          "rewardsMaxSpread": {
            "type": "number"
          },
          "rewardsMinSize": {
            "type": "number"
          },
          "secondsDelay": {
            "type": "number"
          },
          "sentDiscord": {
            "type": "boolean"
          },
          "seriesColor": {
            "type": "string"
          },
          "showGmpOutcome": {
            "type": "boolean"
          },
          "showGmpSeries": {
            "type": "boolean"
          },
          "slug": {
            "type": "string"
          },
          "spread": {
            "type": "number"
          },
          "startDate": {
            "type": "string"
          },
          "startDateIso": {
            "type": "string"
          },
          "submitted_by": {
            "type": "string"
          },
          "takerBaseFee": {
            "type": "number"
          },
          "umaBond": {
            "type": "string"
          },
          "umaEndDate": {
            "type": "string"
          },
          "umaResolutionStatus": {
            "type": "string"
          },
          "umaReward": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "volume": {
            "type": "string"
          },
          "volume24hr": {
            "type": "number"
          },
          "volume24hrAmm": {
            "type": "number"
          },
          "volume24hrClob": {
            "type": "number"
          },
          "volumeAmm": {
            "type": "number"
          },
          "volumeClob": {
            "type": "number"
          },
          "volumeNum": {
            "type": "number"
          },
          "wideFormat": {
            "type": "boolean"
          }
        },
        "additionalProperties": false,
        "required": [
          "nevuaTimeseriesHistory"
        ]
      },
      "TimeseriesPoint": {
        "type": "object",
        "properties": {
          "t": {
            "type": "number"
          },
          "p": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "p",
          "t"
        ]
      },
      "Partial<ClobReward>": {
        "type": "object",
        "properties": {
          "assetAddress": {
            "type": "string"
          },
          "conditionId": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "rewardsAmount": {
            "type": "number"
          },
          "rewardsDailyRate": {
            "type": "number"
          },
          "startDate": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Partial<EventCreator>": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "creatorHandle": {
            "type": "string"
          },
          "creatorImage": {
            "type": "string"
          },
          "creatorName": {
            "type": "string"
          },
          "creatorUrl": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Partial<Tag>": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "createdBy": {
            "type": "number"
          },
          "forceHide": {
            "type": "boolean"
          },
          "forceShow": {
            "type": "boolean"
          },
          "publishedAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "updatedBy": {
            "type": "number"
          }
        },
        "additionalProperties": false
      },
      "TokenPricesImgCacheHistoryJSONResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/EventWithMarketImgCache"
        },
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "EventWithMarketImgCache": {
        "type": "object",
        "properties": {
          "markets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketSchemaImgCacheResponse"
            }
          },
          "nevuaMarketSource": {
            "type": "string"
          },
          "nevuaLastUpdatedTimestamp": {
            "type": "number"
          },
          "nevuaMultipleMarkets": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          },
          "automaticallyActive": {
            "type": "boolean"
          },
          "closed": {
            "type": "boolean"
          },
          "closedTime": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "commentCount": {
            "type": "number"
          },
          "commentsEnabled": {
            "type": "boolean"
          },
          "competitive": {
            "type": "number"
          },
          "countryName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "creationDate": {
            "type": "string"
          },
          "cyom": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "elapsed": {
            "type": "string"
          },
          "electionType": {
            "type": "string"
          },
          "enableNegRisk": {
            "type": "boolean"
          },
          "enableOrderBook": {
            "type": "boolean"
          },
          "endDate": {
            "type": "string"
          },
          "ended": {
            "type": "boolean"
          },
          "eventCreators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Partial<EventCreator>"
            }
          },
          "eventDate": {
            "type": "string"
          },
          "eventWeek": {
            "type": "number"
          },
          "featured": {
            "type": "boolean"
          },
          "featuredImage": {
            "type": "string"
          },
          "gmpChartMode": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "liquidit": {
            "type": "number"
          },
          "liquidityAmm": {
            "type": "number"
          },
          "liquidityClob": {
            "type": "number"
          },
          "live": {
            "type": "boolean"
          },
          "negRisk": {
            "type": "boolean"
          },
          "seriesSlug": {
            "type": "string"
          },
          "showAllOutcomes": {
            "type": "boolean"
          },
          "showMarketImages": {
            "type": "boolean"
          },
          "slug": {
            "type": "string"
          },
          "sortBy": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "startTime": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Partial<Tag>"
            }
          },
          "ticker": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          },
          "volume": {
            "type": "number"
          },
          "volume24hr": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "markets",
          "nevuaLastUpdatedTimestamp",
          "nevuaMarketSource",
          "nevuaMultipleMarkets"
        ]
      },
      "MarketSchemaImgCacheResponse": {
        "type": "object",
        "properties": {
          "nevuaSVGLink": {
            "type": "string"
          },
          "nevuaSVGHistory": {
            "type": "string"
          },
          "acceptingOrders": {
            "type": "boolean"
          },
          "acceptingOrdersTimestamp": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "approved": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          },
          "automaticallyActive": {
            "type": "boolean"
          },
          "automaticallyResolved": {
            "type": "boolean"
          },
          "bestAsk": {
            "type": "number"
          },
          "bestBid": {
            "type": "number"
          },
          "clearBookOnStart": {
            "type": "boolean"
          },
          "clobRewards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Partial<ClobReward>"
            }
          },
          "clobTokenIds": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "closedTime": {
            "type": "string"
          },
          "commentsEnabled": {
            "type": "boolean"
          },
          "competitive": {
            "type": "number"
          },
          "conditionId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "customLiveness": {
            "type": "number"
          },
          "cyom": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "enableOrderBook": {
            "type": "boolean"
          },
          "endDate": {
            "type": "string"
          },
          "endDateIso": {
            "type": "string"
          },
          "featured": {
            "type": "boolean"
          },
          "fee": {
            "type": "string"
          },
          "fpmmLive": {
            "type": "boolean"
          },
          "funded": {
            "type": "boolean"
          },
          "gameStartTime": {
            "type": "string"
          },
          "groupItemThreshold": {
            "type": "string"
          },
          "groupItemTitle": {
            "type": "string"
          },
          "hasReviewedDates": {
            "type": "boolean"
          },
          "icon": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "lastTradePrice": {
            "type": "number"
          },
          "negRiskRequestID": {
            "type": "string"
          },
          "new": {
            "type": "boolean"
          },
          "notificationsEnabled": {
            "type": "boolean"
          },
          "oneDayPriceChange": {
            "type": "number"
          },
          "orderMinSize": {
            "type": "number"
          },
          "orderPriceMinTickSize": {
            "type": "number"
          },
          "outcomePrices": {
            "type": "string"
          },
          "outcomes": {
            "type": "string"
          },
          "pagerDutyNotificationEnabled": {
            "type": "boolean"
          },
          "question": {
            "type": "string"
          },
          "questionID": {
            "type": "string"
          },
          "ready": {
            "type": "boolean"
          },
          "readyForCron": {
            "type": "boolean"
          },
          "resolutionSource": {
            "type": "string"
          },
          "resolvedBy": {
            "type": "string"
          },
          "restricted": {
            "type": "boolean"
          },
          "rewardsMaxSpread": {
            "type": "number"
          },
          "rewardsMinSize": {
            "type": "number"
          },
          "secondsDelay": {
            "type": "number"
          },
          "sentDiscord": {
            "type": "boolean"
          },
          "seriesColor": {
            "type": "string"
          },
          "showGmpOutcome": {
            "type": "boolean"
          },
          "showGmpSeries": {
            "type": "boolean"
          },
          "slug": {
            "type": "string"
          },
          "spread": {
            "type": "number"
          },
          "startDate": {
            "type": "string"
          },
          "startDateIso": {
            "type": "string"
          },
          "submitted_by": {
            "type": "string"
          },
          "takerBaseFee": {
            "type": "number"
          },
          "umaBond": {
            "type": "string"
          },
          "umaEndDate": {
            "type": "string"
          },
          "umaResolutionStatus": {
            "type": "string"
          },
          "umaReward": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "volume": {
            "type": "string"
          },
          "volume24hr": {
            "type": "number"
          },
          "volume24hrAmm": {
            "type": "number"
          },
          "volume24hrClob": {
            "type": "number"
          },
          "volumeAmm": {
            "type": "number"
          },
          "volumeClob": {
            "type": "number"
          },
          "volumeNum": {
            "type": "number"
          },
          "wideFormat": {
            "type": "boolean"
          }
        },
        "additionalProperties": false,
        "required": [
          "nevuaSVGLink"
        ]
      },
      "UpdateNotificationsJSONRequest": {
        "type": "object",
        "properties": {
          "notificationIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "notificationIds"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "UpdateNotificationsJSONResponse": {
        "type": "object",
        "properties": {
          "notificationsUpdated": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "required": [
          "notificationsUpdated"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "UpdateSubscriptionJSONRequest": {
        "type": "object",
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/Partial<Subscription>"
          }
        },
        "additionalProperties": false,
        "required": [
          "subscription"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "Partial<Subscription>": {
        "type": "object",
        "properties": {
          "watchlistId": {
            "type": "string"
          },
          "watchlistName": {
            "type": "string"
          },
          "subscriptionScope": {
            "enum": [
              "Event",
              "Market",
              "Watchlist"
            ],
            "type": "string"
          },
          "subscriptionTypeConfig": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Big Spike Z-score"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<SpikeParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Big Drop"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<DropParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Crossing"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<CrossAnyParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Crossing Up"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<CrossUpParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Crossing Down"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<CrossDownParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Greater Than"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<GreaterThanParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Less Than"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<LessThanParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Percentage Move"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<MovePctAnyParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Percentage Move Up"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<MovePctUpParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Percentage Move Down"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<MovePctDownParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Volatility Surge"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<VolatilitySurgeParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Breakout"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<BreakoutParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Momentum Shift"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<MomentumShiftParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Gap"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<GapParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Whale Activity"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<WhaleActivityParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "All-Time Record"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<EmptyParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "Trend Reversal"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<TrendReversalParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "New or closed events and markets"
                  },
                  "config": {
                    "$ref": "#/components/schemas/SubscriptionConfig<EmptyParams>"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "config",
                  "type"
                ]
              }
            ]
          },
          "events": {
            "$ref": "#/components/schemas/SubscriptionEventMap"
          },
          "createdAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": [
              "null",
              "string"
            ]
          },
          "updatedAt": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/SubscriptionStatus"
          },
          "triggerType": {
            "enum": [
              "One Time",
              "Recurring"
            ],
            "type": "string"
          },
          "triggerCount": {
            "type": "number"
          },
          "lastTriggeredAt": {
            "type": [
              "null",
              "string"
            ]
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationChannel"
            }
          }
        },
        "additionalProperties": false
      },
      "UpdateSubscriptionJSONResponse": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "subscriptionId"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "UpdateWatchListJSONRequest": {
        "type": "object",
        "properties": {
          "watchListId": {
            "type": "string"
          },
          "watchList": {
            "$ref": "#/components/schemas/Partial<WatchList>"
          }
        },
        "additionalProperties": false,
        "required": [
          "watchList",
          "watchListId"
        ],
        "$schema": "http://json-schema.org/draft-07/schema#"
      },
      "Partial<WatchList>": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "queries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WatchlistQuery"
            }
          },
          "automaticallyAddMatchingEvents": {
            "type": "boolean"
          },
          "events": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "autoFetch": {
                  "type": "boolean"
                },
                "markets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "additionalProperties": false,
              "required": [
                "autoFetch",
                "markets"
              ]
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "tableSettings": {
            "type": "object",
            "properties": {
              "showClosedItems": {
                "type": "boolean"
              },
              "expandMultiMarketEventsTable": {
                "type": "boolean"
              },
              "expandMultiMarketEventsTiles": {
                "type": "boolean"
              }
            },
            "additionalProperties": false,
            "required": [
              "expandMultiMarketEventsTable",
              "expandMultiMarketEventsTiles",
              "showClosedItems"
            ]
          }
        },
        "additionalProperties": false
      },
      "UpdateWatchListJSONResponse": {
        "type": "object",
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-07/schema#"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchEvents",
        "summary": "Search for events and markets",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The search query terms.\n\nWill match query terms in event titles, market questions and tag labels.\n\nUse `matchAny=true` to match any of the search terms (OR), or `matchAny=false` to match all of the search terms (AND).\n"
          },
          {
            "in": "query",
            "name": "matchAny",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "required": false,
            "description": "Whether to match any of the search terms (OR) instead of all (AND)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchJSONResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}